<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <body>
      <form
        action="http://localhost:8080/ShopmeAdmin/user/create1"
        method="post"
      >
        <!-- <input type="text" name="email" value="dat@5" />
        <input type="text" name="password" value="123" />
        <input type="text" name="firstName" value="Thanh" />
        <input type="text" name="lastName" value="Dat" /> -->
        <input type="file" name="image" />

        <input type="submit" value="Login" />
      </form>
    </body>
  </html>
</html>
